@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

@font-face {
  font-family: "Playwrite Belgique";
  src: url("/fonts/PlaywriteBEWAL-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.loader {
  width: 58px;
  height: 58px;
  border: 5px solid #6ec1e4;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
